.mat-column-Phone {
    width: 124px;
    // text-align: center;
    font-weight: bold;
    // background-color: lightblue;
}

.custom-table-header {
    background-color: rgb(232, 228, 228);
}

// .mat-column-Address {
//     font-size: smaller;
// }

.mat-column-Delete {
    width: 100px;
    text-align: center;
}

.mat-column-Update {
    width: 100px;
    text-align: center;
}

.mat-row-even {
    background-color: #f5f5f5;
    /* Even row background color */
}

.mat-row-odd {
    background-color: #ffffff;
    /* Odd row background color */
}